body {
  padding: 12px 12px 50px 12px;
}
h3,
h5,
td,
button {
  font-family: Microsoft JhengHei;
}
img {
  width: 80px;
  height: 144px;
}
#whos_round {
  border-bottom: 1px solid black;
}
td button {
  border: none;
  background-color: transparent;
}
#identity_h5 {
  margin-top: 0.5rem;
}
@media only screen and (max-width: 600px) {
  body {
    padding: 8px 0 50px 0;
  }
  #check_cards,
  #check_identity {
    font-size: 14px;
  }
  td button {
    padding: 2px 1px;
  }
  img {
    width: 50px;
    height: 90px;
  }
  .cards_div {
    padding: 0 8px;
  }
}
